.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
}
.navegacion {
    display: grid;
    grid-column: 2 / span 7;
    grid-row: 1;
    position: relative;
}
/* Navegacion */
.navegacion {
    z-index: 10;
}
.contenedor-menu {
    position: absolute;
    margin-left: -1em;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: #459cd1;
}
.contenedor-menu:hover {
    background-color: #0e1856;
}
.icono-menu {
    display: block;
    margin: 0 auto;
    padding: 0.9em;
    width: 32px;
}
.menu {
    
}
.contenedor-menu:focus .menu { /* VERRRRRRRRR*/
    display: inline-block;
}
.menu ul{ 
    display: flex;
    flex-direction: row;
}
.menu li {
    background-color: #fff;
    padding: 0.5em 1.3em;
    margin-right: 1%;
    border-right: 0.3em solid #0e1856;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.menu li:hover {
    background-color: #0e1856;
}
.menu li:hover a {
    color: #fff;
}
.menu li a {
    color: black;
}