<!DOCTYPE html>
<html>
    <%- include('../partials/head',  {title: 'Cursala: carrito', file_css: 'carrito'}); %>

  <body >
    <div id="blocppal">
    <%- include('../partials/header'); %>
        <section id="carrito">
            <div class="container-table">
                <div class="element1"> <img  src="/images/products/cocina.png" />
                </div>
                <div class="element2">
                    <ul>
                        <li>producto 1</li>
                        <li>$1050</li>
                        <li><a href="remover-producto" title="Remover">
                            <i class="far fa-trash-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="element3">
                    <ul>
                        <li> <select name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            </select>
                         </li>
                    
                        <li>Subtotal: $ xxx</li>
                    </ul>
                    

                </div>
            </div>

            <div class="container-table">
                <div class="element1"> <img src="/images/products/carpinteria.png" />
                </div>
                
                <div class="element2"> 
                    <ul>
                        <li>producto 2</li>
                        <li>$650</li>
                        <li><a href="remover-producto" title="Remover">
                            <i class="far fa-trash-alt"></i>
                        </a>
                        </li>
                    </ul>
                
                </div>
                <div class="element3">
                    <ul>
                        <li> <select name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            </select>
                         </li>
                    
                        <li>Subtotal: $ xxx</li>
                    </ul>
                </div>
            </div>
            <div class="container-table">
                <div class="element1"> <img src="/images/products/estetica_masaje.png" />
                </div>
                
                <div class="element2"> 
                    <ul>
                        <li>producto 2</li>
                        <li>$650</li>
                        <li><a href="remover-producto" title="Remover">
                            <i class="far fa-trash-alt"></i>
                        </a>
                        </li>
                    </ul>
                
                </div>
                <div class="element3">
                    <ul>
                        <li> <select name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            </select>
                         </li>
                    
                        <li>Subtotal: $ xxx</li>
                    </ul>
                </div>
            </div>
            <div class="container-table">
                <div class="element1"> <img src="/images/products/cocina.png" />
                </div>
                
                <div class="element2"> 
                    <ul>
                        <li>producto 2</li>
                        <li>$650</li>
                        <li><a href="remover-producto" title="Remover">
                            <i class="far fa-trash-alt"></i>
                        </a>
                        </li>
                    </ul>
                
                </div>
                <div class="element3">
                    <ul>
                        <li> <select name="cantidad">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            </select>
                         </li>
                    
                        <li>Subtotal: $ xxx</li>
                    </ul>
                </div>
            </div>

            <div class="container-boton">
                <div>
                    <form action="/carrito" method="POST">
                        <input type="submit" name="submit" id="buton-validar" value="VALIDAR">
                      </form>
                </div>
            </div>
    
        </section>
   
         
        <%- include('../partials/footer'); %>
    </div>
   </body>
</html>