<!DOCTYPE html>
<html>
  <%- include('../partials/head',  {title: 'Cursala: registro', file_css: 'registro'}); %>

<body>
  <div id="blocppal">
  <%- include('../partials/header'); %>
  
    <div class="register-container">
      <div class="register">
       
        <h2>Registrate</h2>
        <form action="/users" method="POST" enctype="multipart/form-data">
          <input type="text" name="first_name" placeholder="Nombre">
          <input type="email" name="email" placeholder="Email">
          <label for="avatar">Selecciona una imagen</label>
          <input type="file"  id="avatar" name="avatar" placeholder = "Selecciona una imagen" >
          <input type="password" name="password" placeholder="Contraseña">
          <input type="password" name="password" placeholder="Confirma contraseña">
          <input type="submit" name="submit" class="submit" value="REGISTRARSE">
        
        </form>
      </div>
    </div>
  <%- include('../partials/footer'); %>
  </div>
</body>
</html>