*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f1f1f1;
}





  /***** CARRITO ***********/

#carrito{
    display:flex;
    justify-content:space-around;
    margin-top:10px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:10px;
    flex-direction: column;
}

.container-table{
    display:flex;
    background: #fff;
    justify-content:space-around;
    padding:10px;
    margin:10px;
   flex-wrap: wrap ;
   align-items:center;
   border-radius: 5px;

}
.container-boton{
    display:flex;
    justify-content:space-around;
    padding:10px;
    margin:10px;
   flex-wrap: wrap ;
   align-items:center;
}


.element1{
    padding:1px;
    box-sizing: border-box;
    width:150px;
    height:150px;
}

.element1 img{
    width:100%;
    margin:5px;
    box-sizing: border-box;
}

.element2{
    margin:5px;
    box-sizing: border-box;
}
.element2 ul li{
    list-style-type: none;
    padding:5px;    
}

.element3{
    margin:5px;
    box-sizing: border-box;
}

.element3 ul li{
    list-style-type: none;
    padding:5px;    
}

.element3 select{
    padding:3px;
    width:50px;
 }

/*********** VALIDAR EL CARRITO *****/

 #buton-validar{
    width: auto;
    padding: 10px;
    background: #0e1856;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    margin-top: 15px;
}

/************ MEDIA QUERIES **********/

@media(max-width: 425px){
 

    /**** SECTION TABLE CARRITO ***********/
    .container-table{
        display:flex;
        flex-direction:column;
    }
    .container-boton{
        display:flex;
        flex-direction:column;
    }

    #carrito{
        display:flex;
        justify-content:space-around;
        margin-left:40px;
        margin-right:40px;
        margin-top:10px;
        margin-bottom:10px ;
        flex-direction: column;
    }
   



}



