*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f1f1f1;
}

html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
 } 

section{
    width:100%;
    position: relative;
    min-height:72vh;
    top:20vh;
    display: flex;
    justify-content: center;
}

.carga{
    width:70%;
    margin:20px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    
}

.carga p{
    width:100%;
    
}
.carga form{
    width:100%;
}


h2{
    text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carga textarea{
    width:100%;
    size:50vw;
    height:10vh;
    padding:5px;
}


.carga input{
    width: 100%;
    size:75vw;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}
.buton{
    width:100%;
    display: flex;
    justify-content: center;
}

.buton input{
    /*width: 100%;*/
    size:100px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}

.buton .submit{
    width: auto;
    padding: 10px;
    /*background: #0e1856;*/
    background: rgb(142,103,167);
    color:negro;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    margin-top: 15px;
}

.buton .submit:hover{
    background: #459cd1;
}

.box{
    padding:10px;
    margin: 20px;
}

@media(max-width: 425px){
    .carga{
        flex-direction: column;
    }

   
}