/******** FOOTER *****/
footer{
    width:100%;
    background:  rgb(168, 160, 160);
    position: relative;
    left:0;
    bottom:-20vh;
    height:8vh;
}
footer ul{
    display: flex;
    padding:10px;
}

footer ul li{
    list-style-type: none;
    padding:5px;    
}


/************ MEDIA QUERIES **********/

@media(max-width: 425px){
 
    /***** SECTION FOOTER *****/
    footer ul{
        display:flex;
    }
    footer{
        
        bottom:-25vh;
    }

}