
/***** HEADER *****/
header{
    z-index: 10;
    position:fixed;
    top:0px;
    height: auto;
}

.btn.btn-link{
    background-color: rgb(142,103,167);
    border-color: rgb(142,103,167);
}

.container-header{
    width:100vw;
    height: 15vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(142,103,167);
   
}

#logo{
    overflow:hidden;
    height: 15vh;
}
#logo img{
    
    height: 100%;

}
.container-header:nth-child(1){
    flex:1;
}
.container-header:nth-child(2){
    flex:3;
   
}
.container-header:nth-child(3){
    flex:1;
   
}

#iconoCarrito {
    text-decoration: none;
    color:black;

}

 #container-log-car ul{
    list-style: none;
    padding:10px;    
}

#container-log-car ul li{
    padding:10px;    
}


#buscar input{
    margin:2px;
    padding:5px;
}

/***** MENU *******/
nav{
    z-index: 10;
    position:fixed;
    width: 100%;
    left:0px;
    top: 15vh;
    height: 5vh;
}

.container-menu{
    display:flex;
    background-color: rgb(220,10,10);
   
}

 
.container-menu #logo_menu{
    visibility:hidden;
   
}
    

.active {
    background-color: rgb(231 233 92);
  }
  
.container-menu a {
    padding: 5px;
    color: white;
    text-decoration: none;
    /*font-size: 17px;*/
    display:block;
    box-sizing: border-box;
  }

  .container-menu a:hover {
    background-color: #000;
  }

/************ MEDIA QUERIES **********/

@media(max-width: 425px){
 
    /**** HEADER ****/
    .container-header{
        display:flex;
        height:25vh;
        flex-direction:column;
    }

    #container-log-car ul {
        display:flex;
        padding:0px;
    }
    #container-log-car ul li{
      padding-left:10px;
      padding-right:10px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    #logo{
       overflow:hidden;
       height: 10vh;
    }

    #logo img{
        height: 100%;
    
    }

     /******** SECTION MENU ******/
     nav{
        z-index: 10;
        position:fixed;
        width:auto;
        left:10px;
        top: 65px;
    }
    
    .container-menu #logo_menu{
    visibility:visible;
    margin-left: 5px;
    }
    
     
     .container-menu{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: baseline;
        margin:10px;
        padding:10px;
        flex-wrap: wrap;
        top:240px;
    }
    
    .container-menu a {
        display: none;
      }
    .container-menu:hover a {
        display: block;
    }

}