
/***** HEADER *****/
.container-header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(103, 164, 167);
}

#logo{
    overflow:hidden;
    height: 20vh;
   
}
#logo img{
    height: 100%;

}
.container-header:nth-child(1){
    flex:1;
}
.container-header:nth-child(2){
    flex:3;
   
}
.container-header:nth-child(3){
    flex:1;
   
}

.container-header div ul li{
    list-style-type: none;
    padding:10px;    
}

#buscar input{
    margin:2px;
    padding:5px;
}

/***** MENU *******/
.container-menu{
    display:flex;
    background-color: rgb(168, 160, 160);
}


.active {
    background-color: #4CAF50;
  }
  
.container-menu a {
    padding: 12px;
    color: white;
    text-decoration: none;
    /*font-size: 17px;*/
    display:block;
  }

  .container-menu a:hover {
    background-color: #000;
  }

/************ MEDIA QUERIES **********/

@media(max-width: 425px){
 
    /**** HEADER ****/
    .container-header{
        display:flex;
        flex-direction:column;
    }

     /******** SECTION MENU ******/
     .container-menu{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: baseline;
        margin:10px;
        padding:10px;
        flex-wrap: wrap;
    }
    
    .container-menu a {
        display: block;
      }

}