*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f1f1f1;
}
html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
 } 

 #blocppal { 
    height:100%; 
 }

  /***** productos ***********/

div.nav-pagination{
    display:flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    margin-top: -20px;
    margin-bottom: -20px;
    padding-right: 20px;
}
ul.pagination{
    display:flex;
    list-style: none;
}
li.page-item{
    padding:5px;
    text-decoration: none;
}

li.page-item .page-link{
    text-decoration: none;
}


 .submit{
    width:25px;
    height:25px;
    border: none;
    /*outline:none;*/
    background:lightgoldenrodyellow;
    transition: 0.45;
    font-size: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

.submit:hover {
background:lightskyblue;
}
.submit :active {
    background-color: rgb(231 233 92);
    }


div .admin{
    width:100%;
    padding:5px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.admin a{
    text-decoration: none;
    
}

#container-total{
    margin-top:10px;
    margin-bottom:10px ;
    position: relative;
    top: 20vh;
    width: 100vw;
    min-height: 100%;
}

  #container-todos-productos{
   display: flex;
   flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;


}


.container-producto{
    display:flex;
    justify-content: center;
    border-radius: 5px;
    margin: 40px 40px;
}


.container-producto a{
    text-decoration: none;
}

a.buttonEliminar{
    padding-left:70px;
}

.modoAdmin{
    display:flex;
   justify-items: left;

}
table{
    border-collapse: collapse;
}

tr{
    height: 70px;
    width:300px;
}

td{
    padding:5px;
    text-align:left;
    border: solid 1px var(--light-gray);
}

tr:nth-child(odd){
    background-color: lightgoldenrodyellow;

}
tr:hover {
    background:rgb(231 233 92);
    }

div.box-image{
    height:100px;
 
 }
 

/************ MEDIA QUERIES **********/




@media(max-width: 425px){

    
#container-total{
    top:25vh;
}

.container-producto{
flex-direction: column;
}

    
table tbody tr td {
    display:block;
}

    td{
        padding-left: 10px;
    }

}
