*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f1f1f1;
}
html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
 } 

 #blocppal { 
    height:100%; 
 }

  /***** productos ***********/
  #container-todos-productos{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(30vw, 1fr));
    box-sizing: border-box;

    margin-top:10px;
    margin-bottom:10px ;
    position: relative;
    top: 20vh;
    width: 100vw;
    min-height: 100%;
}



.container-producto{
  
    justify-content: center;
    background-color: rgb(92, 233, 186);
    border-radius: 5px;
    margin: 20px 40px;
}
.container-producto a{
    text-decoration: none;
}

.product-box_image img{
    width:100%;
    border-bottom: 1px solid var(--light-gray);
}

.product-box_data{
    padding: 15px;
    position: relative;
   
}


.product-box_data h2 {
font-size: 2.4em;
font-weight: 300;
margin: 0;
}


.product-box_data p {
font-size: 1.5em;
width: 100%;
color: var(--gray);
margin: 0;
height: 0;
overflow: hidden;
}



/************ MEDIA QUERIES **********/

@media(max-width: 425px){
 

    /**** SECTION TABLE CARRITO ***********/
    
    
    #container-todos-productos{
        grid-template-columns: repeat(auto-fill,minmax(80vw, 1fr));
        top:25vh;
        padding:5px;
        box-sizing: border-box;
    }



}
