*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f1f1f1;
}



/***** MENU *******/
.container-menu{
    display:flex;
    background-color: rgb(168, 160, 160);
}


.active {
    background-color: #4CAF50;
  }
  
.container-menu a {
    padding: 12px;
    color: white;
    text-decoration: none;
    /*font-size: 17px;*/
    display:block;
  }

  .container-menu a:hover {
    background-color: #000;
  }

  /***** productos ***********/
  #container-todos-productos{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(20vw, 1fr));


    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px ;
}



.container-producto{
  
    justify-content: center;
    background-color: rgb(138, 168, 170);
    border-radius: 5px;
    margin: 20px 5px;
}

.product-box_image img{
    width:100%;
    border-bottom: 1px solid var(--light-gray);
}

.product-box_data{
    padding: 15px;
    position: relative;
   
}


.product-box_data h2 {
/*font-size: 2.4em;
font-weight: 300;*/
margin: 0;
}

.product-box_data span {
/*font-size: 1.5em;
font-weight: 300;
color: var(--green);*/
margin: 0 0 0 10px;
}

.product-box_data p {
font-size: 1.5em;
width: 100%;
color: var(--gray);
margin: 0;
height: 0;
transition: 300ms;
overflow: hidden;
}



/************ MEDIA QUERIES **********/

@media(max-width: 425px){
 

    /**** SECTION TABLE CARRITO ***********/
    
    
    #container-todos-productos{
        grid-template-columns: repeat(auto-fill,minmax(80vw, 1fr));
    }



    /******** SECTION MENU ******/
    .container-menu{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: baseline;
        margin:10px;
        padding:10px;
        flex-wrap: wrap;
    }
    
    .container-menu a {
        display: block;
      }



}
