*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f1f1f1;
}
html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
 } 

 #blocppal { 
    height:100%; 
 }

  /***** productos ***********/

div.nav-pagination{
    display:flex;
    justify-content: flex-end;

    margin-top: -20px;
    margin-bottom: -20px;
    padding-right: 20px;
}
ul.pagination{
    display:flex;
    list-style: none;
}
li.page-item{
    padding:5px;
    text-decoration: none;
}

li.page-item .page-link{
    text-decoration: none;
}


 .submit{
    width:25px;
    height:25px;
    border: none;
    /*outline:none;*/
    background:lightgoldenrodyellow;
    transition: 0.45;
    font-size: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

.submit:hover {
background:lightskyblue;
}
.submit :active {
    background-color: rgb(231 233 92);
    }


div .admin{
    width:100%;
    padding:5px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.admin a{
    text-decoration: none;
    
}

#container-total{
    margin-top:10px;
    margin-bottom:10px ;
    position: relative;
    top: 20vh;
    width: 100vw;
    min-height: 100%;
}

  #container-todos-productos{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(25vw, 1fr));
    box-sizing: border-box;

}



.container-producto{
  
    justify-content: center;
    background-color: rgb(231 233 92);
    border-radius: 5px;
    margin: 20px 40px;
}
.container-producto a{
    text-decoration: none;
}

.product-box_image img{
    width:100%;
    border-bottom: 1px solid var(--light-gray);
}

.product-box_data{
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
   
}

.product-box_data.cat{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight:bold;
}

.product-box_data h2 {
font-size: 1.4em;
font-weight: 300;
margin: 0;
}


.product-box_data p {
font-size: 1.5em;
width: 100%;
color: var(--gray);
margin: 0;
height: 0;
overflow: hidden;
}



/************ MEDIA QUERIES **********/

@media(max-width: 425px){
 

    /**** SECTION TABLE CARRITO ***********/
    
#container-total{
    top:25vh;
}
    
    #container-todos-productos{
        grid-template-columns: repeat(auto-fill,minmax(80vw, 1fr));
        top:25vh;
        padding:5px;
        box-sizing: border-box;
    }



}
