*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f1f1f1;
}

html, body { 
    height:100%; 
 } 

#blocppal { 
    height:100%; 
 }

.register-container{
    min-height:80vh;
    display:flex;
    justify-content: center;
    position: relative;
    top:25vh;

}

.register{
    padding: 15px;
    width:50%;
    height: 100%;
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.register h2{
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align:center;
}

.register .formulario{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}
.register .formulario.is-invalid{
    margin-bottom: 5px;
    border: 1px solid red;
}

.form-control{
    display: none;
}

.form-control.is-invalid{
    font-size: 14px;
    color:red;
    margin:5px;
    display:block;
}

#button-submit{
    display:flex;
    justify-content: center;
}
.register .submit{
    width: auto;
    padding: 10px;
    background: rgb(142,103,167);
    color:negro;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    margin-top: 15px;
}

.avatar{
    width: 10vw;
    height: 10vh;
}
.avatar img{
    width:100%;
}
.register .submit:hover{
    background: #459cd1;
}

.boxphoto{
    display:flex;
    justify-items: center;
    align-items: center;
}
.boxphoto div{
    width: 300px;
    height:70px;
}

#photo-preload {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    background-color: #FFF;
}
#email{
    padding-left:5px;
    margin-bottom:15px;
    width: 100%;
    background-color: #FFF;
}

label{
    padding-left:5px;
    margin-bottom:15px;
}

#photo-preload img{
    width: 20%;
    border-radius: 5px;
    border: 1px solid gray;
}

/************ MEDIA QUERIES **********/

@media(max-width:425px){

    .register-container{
        top:25vh;
    }

    .register{
        width:65%;
        height:100%;
    }

}
