*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #f1f1f1;
}


html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
 } 

 #blocppal { 
    height:100%; 
 }

  /***** PRODUCTO ***********/
section{
    display: flex;
    top:19vh;
    width: 100%;
    position: relative;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}


.container-table{
    width:100%;
    display:flex;
    background: #fff;
    justify-content:space-around;
    padding:10px;
   flex-wrap: nowrap ;
   align-items:center;
   border-radius: 5px;
   box-sizing: border-box;
   margin:25px;
}

.element1{
    padding:1px;
    flex:0.8;
}

.element1 img{
    width:100%; 
}

.element2{
    margin:5px;
    box-sizing: border-box;
    overflow: hidden;
    flex:1;
}
.element2 ul li{
    list-style-type: none;
    padding:5px;    
}

.element2 ul li p{
    width: 10vw;
}

.element2 select{
    padding:3px;
    width:50px;
 }

/*********** Agregar el producto *****/

 #buton-agregar{
    width: auto;
    padding: 10px;
    background: rgb(142,103,167);
    color:negro;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    margin-top: 15px;
}

.container-buton{
    display:flex;
    justify-content: center;
    margin: 30px;
}

/************ MEDIA QUERIES **********/

@media(max-width: 768px){
 
    section{
        top:25vh;
        padding:0px;
    }
    /**** SECTION TABLE CARRITO ***********/
    .container-table{
        flex-direction:column;
    }

    .element1{
        padding:1px;
        flex:0;
    }
    
    
    .element2{
        margin:5px;
        box-sizing: border-box;
        overflow: hidden;
        flex:1;
    }
   

}

