*{
    margin: 0;
    padding: 0;
   /* box-sizing: border-box;*/
    font-family: 'Roboto', sans-serif;
}

body{
    background: #f1f1f1;
}


.carga{
    width:100%;
    padding: 20px;
    display:flex;
    flex-wrap:nowrap;
    justify-content: center;
}
.titulo{
    width:100%;
}

.titulo h2{
    text-align: center;
    color: #000000;
    margin-top: 35px;
    margin-bottom: 20px;
}

.carga textarea{
    width:25vw;
    height:20vh;
    padding:5px;
}


.carga input{
    /*width: 100%;*/
    display:block;
    size:100px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}
.buton{
    width:100%;
    display: flex;
    justify-content: center;
}

.buton input{
    /*width: 100%;*/
    size:100px;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
}

.buton .submit{
    width: auto;
    padding: 10px;
    background: #0e1856;
    color: #fff;
    font-size: 12px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    margin-top: 15px;
}

.buton .submit:hover{
    background: #459cd1;
}

.box{
    padding:10px;
    margin: 20px;
}

@media(max-width: 425px){
    .carga{
        flex-direction: column;
    }

    
    .carga textarea{
     width:70vw;
    height:20vh;
    
    }
}