body {
  font: 14px 'Roboto', Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
/* GRID */
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "navegacion navegacion navegacion navegacion navegacion navegacion navegacion navegacion" "m-izquierdo cuerpo-central cuerpo-central cuerpo-central cuerpo-central detalles detalles m-derecho" "m-izquierdo cuerpo-central cuerpo-central cuerpo-central cuerpo-central detalles detalles m-derecho" "m-izquierdo cuerpo-central cuerpo-central cuerpo-central cuerpo-central detalles detalles m-derecho" "m-izquierdo cuerpo-central cuerpo-central cuerpo-central cuerpo-central detalles detalles m-derecho" "m-izquierdo cuerpo-central cuerpo-central cuerpo-central cuerpo-central detalles detalles m-derecho";
}
.cuerpo-central { grid-area: cuerpo-central; }
.detalles { grid-area: detalles; }
.navegacion { grid-area: navegacion; }

.landing-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/*LANDING- MENU*/
.nav-landing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}
.nav-landing .registro {
  border: 2px solid #fff;
  padding: 5px 15px;
  border-radius: 10px;
}
.nav-landing li {
  margin-top: 1%;
}
.nav-landing .izq:hover {
  border: 2px solid #fff;
  padding: 5px 15px;
  border-radius: 10px;
}
.nav-landing .registro:hover {
  background-color: #fff;
}
.nav-landing .registro:hover a {
  color: #0e1856;
}
.nav-landing li a {
  color: #fff;
}
/* Ilustracion y texto de la landing*/
.cuerpo-header {
  margin: 0 auto; 
  width: 80%;
}
.logo-landing {
  width: 16vw;
}
.landing-text {
  float: left;
  margin-top: 5%;
  width: 48%;
  text-align: center;
  line-height: 0.2em;
}
.ilustracion-learning {
  float: right;
  margin-top: 8%;
  width: 50%;
}
.titulo {
  text-transform: uppercase;
  color: #0e1856;
  font-size: 5em;
  text-shadow: 4px 0px #FFF;
}
.texto {
  line-height: 0.8em;
  font-size: 1.2em;
}
.hashtag {
  font-size: 2em;
  text-align: center;
  color: #fff;
}
.primera-linea {
  margin-top: 10%;
}
/* Menu lateral - social media */
.media-nav {
  margin-left: 3%;
}
.social-media {
  display: flex;
  flex-direction: column;
  position: fixed;
}
.social-media img {
  width: 42px;
}
.social-media .line {
  border-left: 2px solid #0e1856;
  height: 200px; 
  position:absolute; 
  left: 70%;
}
/* HOME */
/* BODY */
body {
  font-family: 'Roboto', sans-serif;
position: relative;}
/* estilos generales */
.b-celeste {
  background-color: #459cd1;
}
.b-blanco {
  background-color: #fff;
}
.b-gris {
  background-color: #f8f9fc;
}
.shadow1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.titulo {
  color: #0e1856;
  text-shadow: 4px 0px #FFF;
}
  /* HEADER- NAV*/
.navegacion {
  z-index: 10;
  position: absolute;
  width: 85vw;
}
#boton-menu {
  width: 50px;
  height: 20px;
  border-radius: 0 50% / 0 100%;
  background-color: #459cd1;
  border-right: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icono-menu {
  width: 80%;
}
.menu ul{ 
  display: flex;
  flex-direction: row;
}
.menu li {
  background-color: #fff;
  margin-right: 1%;
  padding: 1em 1.2em;
  border-right: 0.3em solid #0e1856;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.menu li:hover, #boton-menu:hover {
  background-color: #0e1856;
}
.menu li:hover a {
  color: #fff;
}
.menu li a {
  font-size: 1.2em;
  color: black;
}
/* CUERPO PRINCIPAL */
.todos-cursos {
  display: flex;
}
.contenedor-curso {
  background-color: #fff;
  width: 90%;
  position: relative;
  margin: 5% auto 5% auto;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}
.titulo-curso {
  font-weight: lighter;
  font-size: 1.5em;
  text-transform: uppercase;
  position: absolute;
  top: -45px;
  padding: 0 2% 0 1%;
  margin-left: 2%;
  background-color: #fff;
}
.curso {
  margin: 2%;
  padding: 2% 5%;
  background-color: #ffa99d;
  text-transform: uppercase;
}
.curso a {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}
.curso:hover {
  background-color: #0e1856;
}
.curso:hover a {
  color: #fff;
}
.curso:active {
  transform: scale(1.2);
}
/* Contenedor del detalle del curso */
.detalles {
  position: relative;
  margin: 5% 0 5% 0;
  border-radius: 20px;
  background-color: #fff;
}
/* Texto e imagen default del curso */
.detalle-default {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  position: relative;
}
.ilustracion-detalle {
  width: 90%;
  position: absolute;
  bottom: 4%
}
.detalle-default p {
  color: grey;
  line-height: 30px;
  padding-top: 18%;
  font-size: 1.3em;
}
/* CSS de los Curso elegido */
.elegido-html {
  display: none;
}
.elegido-titulo {
  text-align: center;
  text-transform: uppercase;
}
.elegido-descripcion {
  padding-left: 2%;
}
.icono-detalle {
  width: 24px;
  height: 24px;
  margin: 5% 0 0 3%;
  padding-right: 2%;
}
.resumen-detalle {
  width: 70%;
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}
/* PAGINA DE DETALLE DE LOS PRODUCTOS */
.detalle-titulo {
  display: flex;
  flex: row;
  justify-content: space-around;
  background-color: rgba(69, 156, 209, 0.50);
}
.detalle-titulo .titulo {
  font-size: 2.8em;
}
.detalle-ilustracion {
  width: 20vw;
}
.ruta-aprendizaje {
      border-left: 6px solid #ffa99d;
      line-height: 1.3em;
}
.ruta-aprendizaje .rutas {
  padding-top: 2%;
}
.titulo2 {
  text-align: center;
  color: #0e1856;
  font-size: 1.3em;
  text-shadow: 4px 0px #FFF;
}
/*PAGINA 404*/
.pagina-404 {
  height: 100vh;
  background-color: #459cd1;
}
.elementos-404 {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imagen-404 {
  margin-top: 2%;
  width: 60vw;
}
.texto-ops {
  background-color: #ffa99d;
  color: #fff;
  font-size: 2.5em;
}
.boton-volver {
  margin-top: 4%;
  background-color: #ffa99d;
  padding: 1% 5%;
  border-radius: 15px;
}
.boton-volver a {
  font-size: 1.5em;
  color: #fff;
}
/* MEDIA QUERIES */
@media (max-width: 1024px){  
  .navegacion {
    width: 95vw;
  }
  .navegacion ul {
    padding: 0px 0px;
    margin: 0px 0px;
  }
  .navegacion li a {
    font-size: 1.1em;
  }
  #boton-menu {
    width: 30px;
    height: 15px;
  }
  #boton-menu .icono-menu {
    width: 20px;
    height: 20px;
  }
  .cuerpo-central {
    grid-column: 1/ span 5;
    grid-row: 2/ span 5;
    margin: 0px 0px;
  } 
  .detalles {
    margin-right: 1em;
    grid-column: 6/ span 8;
    grid-row: 2/ span 5;
  }
  .texto-ops {
      font-size: 2em;
  }
   } 
@media (max-width: 768px) {
  .navegacion {
    width: 100vw;
    margin-top: 0.5em;
  }
  .navegacion ul li {
    padding: 0.8em 0.5em;
  }
  #boton-menu .icono-menu {
    width: 20px;
    height: 20px;
  }
  .contenedor-curso {
    width: 98%;
    margin-top: 2.5em;
  }
  .curso a {
  font-size: 1em;
  }
  .curso {
  padding: 1em 1.5em;
  }
}
@media (max-width: 425px) {
  .navegacion {
    width: 50vw;
  }
  #boton.menu {
    width: 3em;
    height: 4em;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu ul li {
    border-left: none;
    border-bottom: 1px solid #0e1856;
  }
  .cuerpo-central {
    width: 95%;
    margin: 1% auto 0 auto;
    grid-row: 2 / span 5;
    grid-column: 1 / span 8;
  }
  .curso {
  padding: 1em 1em;
  }
  .detalles {
    display: none;
  }  
}
@media (max-width: 375px) {
  .curso {
    padding: 1em 0.5em;
  }
}
