<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head') %>
        <title> CURSALA | detalle</title>
    </head>
    <body>
    <div class="container">
        <%- include ('./partials/header') %>
        <div class="cuerpo-central">
        <main>
            <div class="detalle-titulo shadow1 b-blanco">
                <h2 class="titulo"> < HTML ></h2>
                <img class="detalle-ilustracion" src="/images/ilus-html.svg" alt="ilustracion html">
            </div>
            <h3 class="titulo2">Contenidos del curso</h3>
            <div class="ruta-aprendizaje shadow1 b-blanco">
                <ul class="rutas">
                    <li>Sintaxis HTML</li>
                    <li>Etiquetas meta y de seccion</li>
                    <li>Etiquetas a nivel texto</li>
                    <li>Contenedio embebido</li>
                    <li>Atributos</li>
                    <li>Etiquetas nuevas y obsoletas</li>
                    <li>Enlaces y tipos de rutas</li>
                    <li>Anclas o Marcadores</li>
                    <li>Formularios</li>
                    <li>Imagenes dinamicas</li>
                    <li>Meta viewport</li>
                    <li>API's HTML</li>
                </ul>
            </div>
   
        </main>
        </div>
    </div>
    </body>