<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <link rel="stylesheet" href="/stylesheets/error404.css">
        <title>404</title>
    </head>
    <body>
    <div class="pagina-404">
        <div class="elementos-404">
        <h1> Algo salió mal ...</h1>
        </div>
    </div>
    <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
    </body>
</html>