<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/images/favicon.svg">
        <title>404</title>
    </head>
    <body>
    <div class="pagina-404">
        <div class="elementos-404">
        <img class="imagen-404" src="/images/404.png" alt="404 pagina no encontrado">
        <p class="texto-404"><span class="texto-ops">Ooops! No encontramos lo que estas buscando</pan></p>
        </div>
    </div>
    </body>
</html>