<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/images/favicon.svg">
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <title> CURSALA | Home</title>
    </head>
    <body>
        <div class="container">
            <header class="navegacion">
                <div class="contenedor-menu b-celeste">
                    <a href="#menu-navegacion"><img class="icono-menu" src="/images/icono-menu.png"></a>
                </div>
                <div class="menu" id="menu-navegacion">
                <nav>
                <ul>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Todos los cursos</a></li>
                    <li><a href="#">Cursos adquiridos</a></li>
                    <li><a href="/users/carrito">Carrito</a></li>
                    <li><a href="#">Contactanos</a></li>
                </ul>
                </nav>
                </div>
            </header>
            <div class="cuerpo-central">
                <main>
                    <div class="contenedor-curso">
                        <h2 class="titulo-curso">Front end</h2>
                    <div class="todos-cursos">
                        <div class="curso">
                            <a href="#">html</a>
                        </div>
                        <div class="curso">
                            <a href="#">Css</a>
                        </div>
                        <div class="curso">
                            <a href="#">Javascript</a>
                        </div>
                        <div class="curso">
                            <a href="#">React</a>
                        </div>
                    </div>
                    </div>
                    <div class="contenedor-curso">
                        <h2 class="titulo-curso">Back end</h2>
                    <div class="todos-cursos">
                        <div class="curso">
                            <a href="#">php</a>
                        </div>
                        <div class="curso">
                            <a href="#">Java</a>
                        </div>
                        <div class="curso">
                            <a href="#">.Net</a>
                        </div>
                        <div class="curso">
                            <a href="#">Python</a>
                        </div>
                    </div>
                    </div>
                    <div class="contenedor-curso">
                        <h2 class="titulo-curso">DISEÑO UX / UI</h2>
                    <div class="todos-cursos">
                        <div class="curso">
                            <a href="#">Diseño</a>
                        </div>
                        <div class="curso">
                            <a href="#">Redaccion</a>
                        </div>
                        <div class="curso">
                            <a href="#">Wireframes</a>
                        </div>
                    </div>
                    </div>
                    <div class="contenedor-curso">
                        <h2 class="titulo-curso">Marketing Digital</h2>
                    <div class="todos-cursos">
                        <div class="curso">
                            <a href="#">Community</a>
                        </div>
                        <div class="curso">
                            <a href="#">Storytelling</a>
                        </div>
                        <div class="curso">
                            <a href="#">seo</a>
                        </div>
                    </div>
                    </div>
                    <div class="contenedor-curso">
                        <h2 class="titulo-curso">Diseño digital</h2>
                    <div class="todos-cursos">
                        <div class="curso">
                            <a href="#">Photoshop</a>
                        </div>
                        <div class="curso">
                            <a href="#">Illustator</a>
                        </div>
                        <div class="curso">
                            <a href="#">After Effects</a>
                        </div>
                    </div>
                    </div>
                </main>
            </div>
                
            <div class="detalles shadow1">
            <div class="detalle-default">
                <p>Selecciona un curso para poder visualizar toda la informacion :)</p>
                <img class="ilustracion-detalle" src="/images/ilustracion-detalle.svg">
            </div>
            <div class="elegido-html">
                <h2 class="elegido-titulo">HTML</h2>
                <p class="elegido-descripcion">HTML (HyperText Markup Language) es el primer lenguaje que una persona debe conocer si desea comenzar a realizar páginas web. </p>
            <div class="resumen-detalle">
                <img class="icono-detalle" src="/images/icono-reloj.png">
                <p class="resumen-curso"> 10hs de video disponibles</p> 
                <img class="icono-detalle" src="/images/icono-lapiz.png" alt="icono lapiz">
                <p class="resumen-curso">15 workbook de apuntes</p> 
                <img class="icono-detalle" src="/images/icono-ejercicios.png" alt="icono ejercicios">
                <p class="resumen-curso">20 ejercicios</p>
                <p class="precio">$850</p>
            </div>
            </div>
            </div>
        </div>
    </body>
</html>