<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a la HOME de CURSALA</p>
    <p><a href="/landing"> Landing de Cursala</a></p>
    <p><a href="/products/detail"> detalle de producto</a></p>
    <p><a href="/users/registro"> registro de usuario</a></p>
    <p><a href="/users/carrito"> carrito del usuario</a></p>
    <p><a href="/products/carga"> carga de producto</a></p>

  </body>
</html>