<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head') %>
        <title>Cursala | landing</title>
    </head>
    <body>
    <div class="landing-container b-celeste">
        <header>
            <nav>
                <ul class="nav-landing">
                    <li class="izq"><a href="#">Nosotros</a></li>
                    <li class="izq"><a href="#">Cursos</a></li>
                    <li class="izq"><a href=#>FAQ</a></li>
                    <li class="izq"><a href="#">Contactanos</a></li>
                    <li class="registro"><a href="#">Iniciar sesion</a></li>
                    <li class="registro"><a href="#">Registrarse</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="cuerpo-header">
        <div class="landing-text">
            <img class="logo-landing" src="/images/logo.png" alt="logo cursala">
            <h1 class="titulo">Cursala</h1>
            <p class="hashtag">#NoParesDeAprender</p> <br>
            <p class="texto primera-linea">Aprende cosas nuevas en cualquier lado, cuando quieras!
            <p class="texto">Ahora es el momento de comenzar a construir tu futuro!</p>
        </div>
            <img class="ilustracion-learning" src="/images/online-learning.png" alt="ilustracion sobre educacion a distancia">
            </div>
        </main>
        <aside>
            <nav class="media-nav">
        <ul class="social-media">
            <li><a href="#"><img src="/images/icono-instagram.png"></a></li>
            <li><a href="#"><img src="/images/icono-facebook.png"></a></li>
            <li><a href="#"><img src="/images/icono-whatsapp.png"></a></li>
            <li class="line-li"><span class="line"></span></li>
        </ul>
            </nav>
        </aside>
    </div>
    </body>
</html>