<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  
</head>
<body>
  <div id="blocppal">
  <%- include('./partials/header'); %>
  
    <div class="register-container">
      <div class="register">
       
        <h2>Inicia sesion</h2>
        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Contraseña">
            <p><a href="#">Olvidaste la contraseña?</a></p>
            <input type="submit" name="submit" class="submit" value="INGRESAR">
        </form>
      </div>
    </div>
  <%- include('./partials/footer'); %>
  </div>
</body>
</html>