<footer>
     <ul>
         <li><a href="https://github.com/" title="Cursala sur Github"><i  class="fab fa-github"></i></a></li>
         <li><a  href="https://twitter.com/" title="Cursala sur Twitter"><i class="fab fa-twitter"></i></a></li>
         <li><a  href="https://Facebook.com/" title="Cursala sur Facebook"><i class="fab fa-facebook"></i></a></li>
         <li><a  href="Contacto" title="Contacto"> Contacto</a></li>
     </ul>
</footer>