
    <header>
        <div class="container-header">
                <div id="logo">
                    <img src="/images/logo.png"/>
                </div>
                <div id="buscar">
                    <input type="text" placeholder="Search..">
                </div>
                <div id="container-log-car">
                    <ul>
                        <li> <a href="/users/login" title="Perfil" >
                            <i class="far fa-user-circle" > </i>
                            Login </a></li>
                        <li>  <a href="/users/carrito" title="Carrito">  
                            <i class="fas fa-shopping-cart"></i> Carrito
                        </a></li>    
                    </ul>
                </div>
            </div>
        </header>
        <nav>
            <div class="container-menu">
                
                <div id="logo_menu"> <i class="fas fa-bars"></i> </div>
                <a class="active" href="/" title="Home" > <i class="fas fa-home"></i></a> 
    
                 <a href="/filtre1" title="Categoria Cocina">  
                    Cocina </a>
                <a  href="/filtre2" title="Categoria Bien Estar" > Bien Estar</a> 
            
                <a href="/filtre3" title="Categoria desarrollo personal">  
                        Desarrollo Personal </a>
    
                <a href="contactarnos" title="Contacto">  
                    Contactarnos</a>
                <a href="/users/registro" title="Registrarse">  
                    Registrarse </a>
              
            </div>
        
         </nav>
