
    <header>
        <div class="container-header">
                <div id="logo">
                    <img src="/images/logo.png"/>
                </div>
                <div id="buscar">
                    <input type="text" placeholder="Search..">
                </div>
                <div>
                    <ul>
                        <li> <a href="perfil-usuario" title="Perfil" >
                            <i class="far fa-user-circle" > </i>
                            Connectarme </a></li>
                        <li>  <a href="/users/carrito" title="Carrito">  
                            <i class="fas fa-shopping-cart"></i> Carrito
                        </a></li>    
                    </ul>
                </div>
            </div>
        </header>
