<head>
        <title><%= title %></title>
    
        <meta charset="utf-8">
            
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link rel="icon" href="IMAGENES/favicon.svg"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"> 
       <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
        <!-- Semantic UI theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
        
        <link rel="stylesheet" href="/stylesheets/<%=file_css %>.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
       <link rel="stylesheet" href="/stylesheets/footer.css">
       
    
    
    </head>