
    <header>
        <div class="container-header">
                <div id="logo">
                    <img src="/images/logo.png"/>
                </div>
                <form action="/products/find" method='GET'>
                    <div id="buscar">
                        <input type="text" placeholder="Search.." name="busqueda">
                    </div>
                </form>
               
                <div id="container-log-car">
                    <ul>
                        <% if(locals.logeado) {%>
                        <li> <a href="/users/perfil" title="Perfil" >
                            <i class="far fa-user-circle" > </i> <%= locals.userName%>
                             </a></li>
                        <%}else {%>
                        <li> <a href="/users/login" title="Login" >
                            Login </a></li>
                        <% } %>
                        <li>  <a href="/users/carrito" title="Carrito">  
                            <i class="fas fa-shopping-cart"></i> Carrito
                        </a></li>    
                    </ul>
                </div>
            </div>
        </header>
        <nav>
            <div class="container-menu">
                
                <div id="logo_menu"> <i class="fas fa-bars"></i> </div>
                <a class="active" href="/" title="Home" > <i class="fas fa-home"></i></a> 
    
                 <a href="/products/filtre1" title="Categoria Cocina">  
                    Cocina </a>
                <a  href="/products/filtre2" title="Categoria Bien Estar" > Bien Estar</a> 
            
                <a href="/products/filtre3" title="Categoria desarrollo personal">  
                        Desarrollo Personal </a>
    
                <a href=" #" title="Contacto">  
                    Contactarnos</a>
                <% if(!locals.logeado) {%>
                <a href="/users/registro" title="Registrarse">  
                    Registrarse </a>
                <%}%>
            </div>
        
         </nav>
