<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/product-carga.css' />
</head>
<body>  
  <div class="container">
    <div class="carga-container">
      <div class="carga">
        <img src="/images/logo.png" alt="Logo-Cursala">
        <h2>Formulario Carga de Productos</h2>
        <form action="/productCarga" method="POST">
          <label for="nombre">Nombre del curso</label>
          <input type="text" name="nombre" placeholder="Nombre del curso">
          <textarea name="descripcion" id="descripcion" cols="30" rows="4"></textarea>
          
          <label for="categoria">Categoria</label>
          <select name="opciones" id="opciones">
            <option value="a">Opcion A</option>
            <option value="b">Opcion B</option>
            <option value="c">Opcion C</option>
          </select>
          
          <label for="horas">Cantidad de horas</label>
          <input type="text" name="horas" placeholder="Hs del curso">
          
          <label for="apuntes">Apuntes disponibles</label>
          <input type="text" name="apuntes" placeholder="Apuntes disponibles">
          
          <label for="apuntes">Cantidad de ejercicios</label>
          <input type="text" name="password" placeholder="Cantidad ejercicios">
          
          <label for="number">Precio</label>
          <input type="password" name="password" placeholder="Precio">
          <input type="reset" name="reset" class="submit" value="RESET">
          <input type="submit" name="submit" class="submit" value="ENVIAR">
        </form>
        
      </body>
      </html>